* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.btn:focus {
    outline: none;
}

body,html {
    height: 100%;
}

.centralizar {
    display: table;
    margin: 0 auto;
}

.buttons {
    margin-top: 30px;
    width: 155px;
    height: 50px;
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
}

.buttons:hover {
    background-color:#2E9AFE;
    color: #fff;
    border: 2px solid #2E9AFE;
}

table{
    border: none;
    table-layout: fixed;
    width: 200px;
}

.table-cell {
    background-color: #A4A4A4;
}

.table td, .table th {
    width: 50px;
    animation-duration: 300ms;
}

.border-cells {
    border: 1px solid #000;
}

.table-data {
    width: 50px;
}

td.empty-cell {
    border: none;
}

/*======================================= BUTTONS =======================================*/
.generic-btn {
    padding: 10px;
    width: 160px;
    height: 50px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;
}

.button_slide {
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #2E9AFE;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border: none;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #2E9AFE;
    border: none;
    color: #fff;
}

.hidden {
    display: none;
}