* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.btn:focus {
    outline: none;
}

body,html {
    height: 100%;
}

.centralizar {
    display: table;
    margin: 0 auto;
}

.buttons {
    margin-top: 30px;
    width: 155px;
    background-color: #fff;
    color: #000;
    border: 2px solid #333;
}

table{
    border: none;
    table-layout: fixed;
    width: 200px;
}

.table-cell {
    background-color: #A4A4A4;
}

.table td, .table th {
    border: 1px solid black;
    width: 50px;
}

.table-data {
    width: 50px;
}

td.empty-cell {
    border: none;
}
